.main-container{
  padding: 50px;
}

.modal-content{
  padding: 20px;
}

.checkboxes{
  text-align: center;
}

.statistics-container{
  padding: 20px;
}

.clickable:hover{
  cursor: pointer;
}


nav.admin-nav.navbar.navbar-inverse{
    height: 50px;
    background-image: linear-gradient(to bottom, #333 0%, #333 100%);
    background-repeat: repeat-x;
    .navbar-right > li {
      transform: translateY(0%);
    }
}

.table > th {
  line-height: 40px;
}

.table > thead:first-child > tr:first-child > th {
  text-align: center;
  line-height: 75px;
  font-size: 28px;
}



.table-bordered > tbody > tr > th {
  text-align: center;
  line-height: 75px;
  font-size: 28px;
}

