html{
  height: 100%;
}

body{
  height: 100%;
}

@import 'admin.scss';
@import 'exhibitors.scss';
@import 'index.scss';
@import 'itinerary.scss';
@import 'loginForm.scss';
@import 'user.scss';
@import 'venue.scss';
@import 'venue2.scss';
@import 'footer.scss';
@import 'navbar.scss';

