.exh-container{
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.exhibitor{
  border: solid 1px;
  border-radius: 5px;
  display: block;
  margin: 1em 0.3em;
  max-width: 600px;
  opacity: 0.8;
  word-wrap: break-word;
  img{
    max-width: 100%;
  }
  &:hover{
    cursor: pointer;
    opacity: 1;
  }
}