footer {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 70px;
  width: 100%;
  div {
    line-height: 70px;
    padding: 0px 30px 0px 30px;
  }
  a {
    color: white;
  }
  .footer-info {
    color: white;
    display: inline;
  }
  .footer-social {
    color: white;
    display: inline;
    float: right;
    padding: 0px 30px 0px 0px;
    i {
      padding: 0px 5px;
    }
  }
}




