nav.navbar.navbar-inverse{
  height: 50px;
  background-image: linear-gradient(to bottom, white 0%, white 100%);
  background-repeat: repeat-x;
  border-color: white;
  .navbar-right > li {
    transform: translateY(25%);
  }
  li.links a{
    color: #0073DA;
    font-size: 16px;
    font-weight: bolder;
    text-shadow: none;
    &:hover{
      color: #0073DA;
      border: solid 1px;
      border-radius: 20px;
    }
  }
}
a.navbar-brand img{
  height: 45px;
  padding: 0;
}


// .navbar-inverse {
//   background-image: linear-gradient(to bottom, white 0%, white 100%);
//   background-repeat: repeat-x;
//   border-color: white;
//   .navbar-right > li {
//     transform: translateY(25%);
//   }
//   li.links a{
//     color: #0073DA;
//     font-size: 16px;
//     font-weight: bolder;
//     text-shadow: none;
//     &:hover{
//       color: #0073DA;
//       border: solid 1px;
//       border-radius: 20px;
//     }
//   }
// }



// .swing:hover {
//   animation: swing ease-in-out 1s infinite alternate;
//   transform-origin: center -20px;
//   float:left;
//   box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
// }
// .swing img {
//   border: 5px solid #f8f8f8 ;
//   display: block;
// }
// .swing:after{
//   content: '';
//   position: absolute;
//   width: 20px; height: 20px;
//   border: 1px solid #999;
//   top: -10px; left: 50%;
//   z-index: 0;
//   border-bottom: none;
//   border-right: none;
//   transform: rotate(45deg);
// }
// /* nail */
// .swing:before{
//   content: '';
//   position: absolute;
//   width: 5px; height: 5px;
//   top: -14px;left: 54%;
//   z-index: 5;
//   border-radius: 50% 50%;
//   background: #000;
// }

// @keyframes swing {
//   0% { transform: rotate(3deg); }
//   100% { transform: rotate(-3deg); }
// }