/*.home{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  height: 100%;
  overflow: auto;
}*/
/*.home-inner{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;

  align-items: center;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  background-color: rgba(122,193,67,0.7);

}
*/
/*.content {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  h1 {
  color: black;
  flex-shrink: 1;
  text-align: center;
  }
  h2 {
  flex-shrink: 1;
  text-align: center;
  }
}*/
/*.video-container{
  margin-left: 0 !important;
}*/
/*.banner {
 display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: space-between;

}*/
/*.sponsor {

  padding: 5px;
  margin-top: 10px;
  height: 100%;
}
  .sponsor-image {
    width: 80%;
    height: 80%;
    align-self: center;
  }*/
/*.title{
  height: 10%;
  margin-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  h1{
    margin-top: 0px;
    margin-bottom: 0px;
  }
}*/
/*.reg {
  margin-top: 0px;
  font-family: 'Dancing Script', cursive;
  font-size: 48px;
  text-align: center;
  height: 10%

}*/
/*.reg-title{
   color:white !important;
   h2{
    color:white !important;
   }
}*/
/*.animated {
    -webkit-animation-fill-mode: both;
    -moz-animation-fill-mode: both;
    -ms-animation-fill-mode: both;
    -o-animation-fill-mode: both;
    animation-fill-mode: both;
    -webkit-animation-duration: 1s;
    -moz-animation-duration: 1s;
    -ms-animation-duration: 1s;
    -o-animation-duration: 1s;
    animation-duration: 1s;
}*/
/*// play with these to position the image
.mypic {
// margin: -40px 0 -20px 20px;
position: absolute;
// z-index:100;

}*/
/*.venue-page {
  background-image: url("/ECF_background_90.png");
  background-size: 220%;

  width: 100%;

}*/
/*.registering {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}
*/
/*.reg-inner-colomn{
  // background-color: rgba(122, 193, 67, 1);
  // margin-top: 40px;
  border-bottom-color: white;
  // margin-right: auto;
  // margin-left: auto;
  // display: block;

}
*/
/*.reg-item {
  width: 100%;
  height: 200%;
  margin: 0px;

}*/
/*#userReg {

  .form-label{
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 70%;
  text-align: left;
  color: white;
  font-size: 18px;
  }
}
*/
/*
registering-button {
    width: 100%;
    vertical-align: middle;
    border-bottom: dotted 1px #A5D8E5;
    border-radius: 42px;
    background-image: -webkit-linear-gradient(top, #7ac143 0%, #7ac143 100%);
    border-radius: 42px;
    border-bottom-color: white;
    color: white;
}*/
/*div {
  // outline: 1px solid green;

}


.swing:hover {
   animation: swing ease-in-out 1s infinite alternate;
   transform-origin: center -20px;
   float:left;
   box-shadow: 5px 5px 10px rgba(0,0,0,0.5);
}
.swing img {
   border: 5px solid #f8f8f8 ;
   display: block;
}
.swing:after{
   content: '';
   position: absolute;
   width: 20px; height: 20px;
   border: 1px solid #999;
   top: -10px; left: 50%;
   z-index: 0;
   border-bottom: none;
   border-right: none;
   transform: rotate(45deg);
}

.swing:before{
   content: '';
   position: absolute;
   width: 5px; height: 5px;
   top: -14px;left: 54%;
   z-index: 5;
   border-radius: 50% 50%;
   background: #000;
}

@keyframes swing {
   0% { transform: rotate(3deg); }
   100% { transform: rotate(-3deg); }
}


*/
