<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
  <head>
    <link rel="stylesheet" type="text/css" href="css/app.css">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width">
    <title>ECF Registration Confirmation</title>
    <!-- <style> -->
  </head>
  <body>
    <span class="preheader"></span>
    <table class="body">
      <tr>
        <td class="center" align="center" valign="top">
          <center data-parsed="">

            <table align="center" class="container header float-center"><tbody><tr><td>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>
                  <h3 class="text-center">Dear <%= first_name %>, you are successfully registered for an event in Vancouver, find your qr code below.</h3>

                  <center data-parsed="" style="background-color: orange; color: white;">
                    <table align="center" class="menu text-center float-center"><tr><td><table><tr>
                      <th class="menu-item float-center"><a style="color: white;" href="#">Register</a></th>
                      <th class="menu-item float-center"><a style="color: white;" href="#">Exhibitors</a></th>
                      <th class="menu-item float-center"><a style="color: white;" href="#">Itinerary</a></th>
                      <th class="menu-item float-center"><a style="color: white;" href="#">Web</a></th>
                    </tr></table></td></tr></table>
                  </center>

                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>
            </td></tr></tbody></table>

            <table align="center" class="container body-border float-center"><tbody><tr><td>
              <table class="row"><tbody><tr>
                <th class="small-12 large-12 columns first last"><table><tr><th>

                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

                  <center data-parsed="">
                    <img src="cid:qr.png" width="200" height="200"/>
                  </center>


                  <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>

                  <h4>Welcome to Education and Career Fairs.</h4>
                  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

                  <center data-parsed="" style="background-color: orange;">
                    <table align="center" class="menu float-center colors"><tr><td><table><tr>
                      <th class="menu-item float-center"><a style="color: white;" href="http://www.educationcareerfairs.com/">ecf.com</a></th>
                      <th class="menu-item float-center"><a style="color: white;" href="https://www.facebook.com/ECFairs/">Facebook</a></th>
                      <th class="menu-item float-center"><a style="color: white;" href="https://twitter.com/ECFairs">Twitter</a></th>
                      <th class="menu-item float-center"></th>
                      <th class="menu-item float-center"><a style="color: white; text-decoration: none" href="#">info@educationcareerfairs.com</a></th>
                    </tr></table></td></tr></table>
                  </center>

                </th>
<th class="expander"></th></tr></table></th>
              </tr></tbody></table>

              <table class="spacer"><tbody><tr><td height="16px" style="font-size:16px;line-height:16px;">&#xA0;</td></tr></tbody></table>
            </td></tr></tbody></table>

          </center>
        </td>
      </tr>
    </table>
    <!-- prevent Gmail on iOS font size manipulation -->
    <div style="display:none; white-space:nowrap; font:15px courier; line-height:0;"> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </div>
  </body>
</html>